@{
    ViewBag.Title = "About Abbagail Hammary";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Abbagail Hammary and I am a current senior at Ohio University planning to graduate in May.
    I am majoring in Managment Inforamtionsytsems and minioring in business analytics. I am curently seeking a job for after graduation in
    the city of Columbus, Ohio.</p>
