@{
    ViewBag.Title = "Contact Abbagail Hammary";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 10th St NE<br />
    New Philadelphia, Ohio 44663<br />
    <abbr title="Phone">P:</abbr>
    330.123.4567
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Marketing@example.com">ah799415@ohio.edu</a>
</address>