@{
    ViewBag.Title = "MIS 4200 Home Page";
}

<div class="jumbotron">
    <h1>Abbagail Hammary</h1>
    <p class="lead">Facts About Me</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-2">
        <h2>Home Town</h2>
        <p>
            I am from a small town in Ohio called New Philadelphia. My high school I graduated from was New Philadelphia High School and our mascot was a quaker!
        </p>
        <p><a class="btn btn-default" href="http://www.newphilaoh.com/Home">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <div>Stuff about MVC goes here</div>
        <h2>Links to sample models</h2>
        @Html.ActionLink("Customers", "Index", "Customers")<br />
        @Html.ActionLink("Orders", "Index", "Orders")<br />
        @Html.ActionLink("Product", "Index", "Product")
    </div>
    <div class="col-md-6">
        <h2>Why I Chose Ohio University</h2>
        <p>When I was a senior in high school I set up a visit and toured the school. When I first arrived I loved how pretty the campus was. I was also impressed with the business program. </p>
    </div>
</div>